doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block styles
      link(rel="stylesheet", href=contents.styles["main.less"].url)

    block title
      title= locals.title

  body
    #navigation.navbar.navbar-static-top.navbar-default(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href=contents.index.url)= locals.title
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href=contents.locations["index.json"].url) Locations
            li
              a(href=contents["collaborators.json"].url) Collaborators

    block page
      h1= page.title
      != page.html

    block scripts
      script(src=contents.js["jquery.min.js"].url)
      script(src=contents.js["bootstrap.min.js"].url)
