extends blog

block title
  title= "Blog | " + locals.title

block breadcrumbs

block contentLeft
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more

  .blog-footer
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href=contents.blog["archive.json"].url) « Archives
    if nextPage
      a(href=nextPage.url) Next page »
