extends page

block content-narrow
  - var collaborators = page.metadata.collaborators

  h1= page.title
  p
    | Many individuals and organizations have contributed to this work.
    | We would like to offer our thanks to all of these institutions and individuals, and many others who have helped along the way.

  .row(style="margin-top: 40px")
    .col-md-8.col-md-offset-2.text-center
      // CRREL
      a(href=collaborators[0].url)
        img(src=contents.img.collaborators[collaborators[0].filename].url)

  hr

  - for (var i = 1; i < collaborators.length;)
    - var initial = i
    .row(style="margin-top: 40px")
      - for (; i < Math.min(collaborators.length, initial + 3); i++)
        .col-md-4.collaborator
          a(href=collaborators[i].url)
            img.img-responsive(src=contents.img.collaborators[collaborators[i].filename].url,
              style="max-height: 96px")
