extends navbar

block append styles
  link(rel="stylesheet", href=contents.css["dashboard.css"].url)
  if (page.metadata.stylesheet)
    link(rel="stylesheet", href=contents.css[page.metadata.stylesheet].url)

block append content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href=page.url) Hubbard
          li
            a(href="#") Columbia
          li
            a(href="#") Helheim

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header
          = page.metadata.title
        #chart

block append scripts
  script(src=contents.js["d3.min.js"].url)
  if (page.metadata.script)
    script(src=contents.js[page.metadata.script].url)
