extends base

block append styles
  link(rel="stylesheet", href=contents.css["cover.css"].url)

block page
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand
              =title
            ul.nav.masthead-nav
              li.active
                a(href=contents.index.url) home
              li
                a(href=contents.locations["index.json"].url) locations
              li
                a(href=contents["collaborators.json"].url) collaborators

        .inner.cover
          h1.cover-heading Monitoring Glacier Change

          p.lead
            = page.metadata.lead

          p.lead
            a.btn.btn-lg.btn-default(href=contents["about.md"].url)
              | Learn more

        .mastfoot
          .inner
            p
              a(href=contents["about.md"].url) about 
              | | 
              a(href=contents["contact.md"].url) contact
