extends base

block append styles
  link(rel="stylesheet", href=contents.css["cover.css"].url)

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand
              =title
            ul.nav.masthead-nav
              li.active
                a(href=contents.index.url) Home
              li
                a(href=contents["hubbard.json"].url) Data
              li
                a(href=contents["contact.md"].url) Contact

        .inner.cover
          h1.cover-heading Monitoring Glacier Change

          p.lead
            = page.metadata.lead

          p.lead
            a.btn.btn-lg.btn-default(href=contents["about.md"].url)
              | Learn more

        .mastfoot
          .inner
            p
              a(href="https://github.com/gadomski/glac.io")
                img(src=contents.img["github64px.png"].url, style="opacity: 0.8")
              a(href="http://github.com/CRREL")
                img(src=contents.img["rsgis64px.png"].url, style="opacity: 0.4")

