extends page-wide

block content
  .row.locations(data-viewer="locations",
                 data-sensors-url=page.metadata.sensorsUrl,
                 data-world-url=page.metadata.worldUrl,
                 data-locations-url=page.metadata.locationsUrl,
                 data-sensor-icons-base-url=page.metadata.sensorIconsBaseUrl)
    .col-md-3
      span.hidden-sm.hidden-xs Hover over a location to see more information.
      hr.hidden-sm.hidden-xs
      .locations-list.list-group
    .col-md-5.locations-globe.hidden-sm.hidden-xs
    .col-md-4.locations-detail
      .locations-sensors
        h3 Sensor Types 
          small
            a(href=contents.locations["sensor-types.md"].url) more info
      .locations-location-detail

block append scripts
  script(src=contents.scripts["locations.coffee"].url)
