extends main.jade

block content
  - var tiles = page.metadata.tiles;

  div(style="text-align: center")
    h1= page.title
    p= page.metadata.blurb

  - for (var i = 0; i < tiles.length;)
    - var initial = i;
    .row
      - for (; i < Math.min(tiles.length, initial + 4); i++)
        .col-md-3.tile
          a.thumbnail(href=tiles[i].url)
            img(src=contents.img[page.metadata.slug][tiles[i].filename].url)
            h4= tiles[i].name
  // TODO include a map of the location
