extends page-wide

block append styles
  style.
    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.4);
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    .carousel-control.left, .carousel-control.right {
      background-image: none;
    }

block prepend main
  - page.metadata.breadcrumbs = true

block content
  - var images = page.metadata.images;

  h1= page.title

  .row
    .col-md-8.col-md-offset-2
      #image-carousel.carousel.slide
        ol.carousel-indicators
          - for (var i = 0; i < images.length; i++)
            - var klass = (i === 0 ? 'active' : '')
            li(class=klass, data-target="#image-carousel", data-slide-to=i.toString())

        .carousel-inner
          - for (var i = 0; i < images.length; i++)
            - var klass = (i === 0 ? 'active item' : 'item')
            div(class=klass)
              img(src=images[i].filename)
              .carousel-caption.panel
                = images[i].caption

        a.left.carousel-control(href="#image-carousel", data-slide="prev")
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href="#image-carousel", data-slide="next")
          span.glyphicon.glyphicon-chevron-right
