doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="shortcut icon", href=contents.img["favicon.ico"].url)
    link(rel="apple-itouch-icon", href=contents.img["apple-touch-icon.png"].url)

    block styles
      link(rel="stylesheet", href=contents.styles["main.less"].url)

    block title
      title= page.title ? page.title + " | " + locals.title : locals.title

    block og
      meta(property="og:site_name", content=locals.title)
      meta(property="og:title", content=page.title)
      if page.metadata.description
        meta(property="og:description", content=page.metadata.description)
      block ogType
        - var ogType = page.metadata.ogType || "website"
        meta(property="og:type", content=ogType)

      // We assume that a page w/o getUrl has already set url appropriately
      - var ogUrl = page.getUrl ? page.getUrl(locals.url) : page.url;
      meta(property="og:url", content=ogUrl)
      if page.metadata.ogImage
        meta(property="og:image", content=(locals.url + page.metadata.ogImage))
      if locals.facebookAppId
        meta(property="fb:app_id", content=locals.facebookAppId)

  body
    block body
      #navigation.navbar.navbar-static-top.navbar-default(role="navigation")
        .container
          .navbar-header
            a.navbar-brand(href=contents.index.url)= locals.title
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Locations 
                  span.caret
                ul.dropdown-menu(role="menu")
                  li
                    a(href=contents.locations["index.json"].url) All locations
                  li.divider
                  li
                    a(href=contents.locations.hubbard["index.json"].url) Hubbard Glacier
                  li
                    a(href=contents.locations.helheim["index.json"].url) Helheim Glacier
              li
                a(href=contents.blog.index.url) Blog
              li
                a(href=contents["collaborators.json"].url) Collaborators

      block main
        h1= page.title
        != page.html

      block glacio-config
        script#glacio-config(type="application/json").
          {
            "baseUrl": "!{ env.config.baseUrl }",
            "development": !{ locals.development },
            "slug": "!{ page.metadata.slug }"
          }

      block scripts
        script(type="text/javascript", src=contents.scripts.lib["jquery.min.js"].url)
        script(type="text/javascript", src=contents.scripts.lib["bootstrap.min.js"].url)
