extends base

mixin smart_active_li(url)
  if page.url == url
    li.active
      block
  else
    li
      block


block page
  #navigation.navbar.navbar-static-top.navbar-default(role="navigation")
    .container
      .navbar-header
        a.navbar-brand(href=contents.index.url) glac.io
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | Locations
              b.caret
            ul.dropdown-menu
              li
                a(href=contents.locations["index.json"].url) All locations
              li.divider
              li
                a(href=contents.locations.hubbard["index.json"].url) Hubbard
          li
            a(href=contents["collaborators.json"].url) Collaborators

  #content.container
    block content
      h1= page.title
      != page.html

    footer
      .row
        .col-md-2.col-md-offset-5(style="text-align: center")
          a(href=contents["about.md"].url) about
          br
          a(href=contents["contact.md"].url) contact


block append scripts
  script(src=contents.js["jquery.min.js"].url)
  script(src=contents.js["bootstrap.min.js"].url)
